.lista-compras{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 0px 15px;
    margin: 5px 0px;
    border: 1px white solid;
    box-shadow: 1px 1px 8px rgb(255, 255, 255);
    font-size: small;
}

.eliminar-de-compras{
    font-size: small;
    border-radius: 5px;
    background: none;
    color: white;
    border: none;
    
}

.compra-imagen {
    width: 25px;
    height: 25px;
}