.Galeria {
    display: flex;
    margin: 100px 10px 40px 10px;
    padding: 35px;
    text-align: center;
    background-color: #000000;
    color: white;
    box-shadow: 2px 2px 20px rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  .Galeria-Filtro{
    display: flex;
    flex-direction: column;
  }

  .favorito-boton-catalogo {
    margin: 0px 0px 10px 85%;
    font-size: x-large;
  }
  
  .productos-listado {
    display: flex;
    margin: auto;
    width: 85%;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .producto-galeria {
    background-color: #000000;
    border-radius: 5px;
    padding: 20px;
    width: 20%;
    margin: 15px;
    text-align: center;
    box-shadow: 2px 2px 20px rgb(255, 255, 255);
    background-color: black;
    color: white;
  }
  
  .producto-imagen {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
   
 
  }
  
  h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .precio {
    color: #e4b400;
    font-weight: bold;
  }
  
  .ver-detalles {
    display: inline-block;
    margin-top: 10px 0px 0px 0px;
    padding: 5px 10px;
    width: 70%;
    background-color: #e4b400;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .ver-detalles:hover {
    background-color: #d39e00;
  }


  #category{
    margin: 10px;
    width: 80%;
    text-align: center;
  }


  @media (max-width: 768px) {
    .Galeria {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    .productos-listado {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    
    .producto-galeria {
      width: 30%;
      height: 380px;
      margin: 5px auto;
      text-align: center;
      font-size: x-small;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .producto-galeria h2{
      font-size: small;
    }
    
    .producto-imagen {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 5px;
   
    }

    .favorito-boton-catalogo{
      font-size: small;
    }

    .Galeria-Filtro{
      font-size: large;
    }

    .producto-galeria button, .ver-detalles{
      width: 100%;
      margin: 2px;
    }
  }
  
  @media (max-width: 500px) {
    .Galeria {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    .productos-listado {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    
    .producto-galeria {
      width: 30%;
      height: 380px;
      margin: 5px auto;
      text-align: center;
      font-size: x-small;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .producto-galeria h2{
      font-size: small;
    }
    
    .producto-imagen {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 5px;
   
    }

    .favorito-boton-catalogo{
      font-size: small;
    }

    .Galeria-Filtro{
      font-size: large;
    }

    .producto-galeria button, .ver-detalles{
      width: 100%;
      margin: 2px;
    }
  }
  