.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 10rem;
    margin: 80px 10px 20px 10px;
    box-shadow: 2px 2px 20px rgb(255, 255, 255);
    padding: 35px;
    background-color: black;
    color: white;
   
}


@media (max-width: 768px) {

    .Header{
        margin: 100px 2px 0px 2px;
    }
  
}

@media (max-width: 500px) {
    
    .Header{
        margin: 100px 2px 0px 2px;
    }

}