
.contenedor-usuario{
    display: flex;
    justify-content: space-between;
    margin: 100px 15px 0px 15px;
    padding: 50px;
    height: 70vh;
    

    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(255, 255, 255);
    background-color: black;
    color: white;
}

.Datos-usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 50%;
}

.contenedor-compras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.Datos-mis-compras {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 95%;
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
}

.Datos-mis-favoritos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 95%;
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
    
}

.favoritos-listado{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    font-size: x-small;
    align-items: center;

 
    
    overflow-x: auto;
    scroll-behavior: smooth; 
    scrollbar-width: thin;
}

.favorito-item {
    border: 1px solid white;
    min-width: 25%;
    max-width: 25%;
    padding: 10px 0px;
    margin: 5px;
    text-align: center;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);

    
}

.favorito-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.eliminar-favorito-btn {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0px;
    
  }
  
  .eliminar-favorito-btn:hover {
    background-color: #d93636;
  }
   


@media (max-width: 768px) {
    .contenedor-usuario{
        flex-direction: column;
        width: 100%;
    }

    .Datos-usuario{
        width: 100%;
    }
    
    .contenedor-compras{
        width: 100%;

    }

    .Datos-mis-favoritos h2{
        margin: 5px 0px;
    }
    
    .favoritos-listado {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth; 
        height: 100%;
        width: 85%;
        margin: 0 auto;
        scrollbar-width: thin;
    }
    
    .favorito-item {
        flex: 30%; 
        margin: 40px 5px; 
        min-width: 30%;
        padding: 25px 0px;
        height: 100%;
        border: 1px solid white;
        box-shadow: 1px 1px 5px rgb(255, 255, 255);

    }

    .favorito-item img{
        width: 85%;
        height: 80%;
        object-fit: cover;
    }
    
  }
  
  @media (max-width: 500px) {
    .contenedor-usuario{
        flex-direction: column;
        width: 100%;
    }

    .Datos-usuario{
        width: 100%;
    }
    
    .contenedor-compras{
        width: 100%;

    }

    .Datos-mis-favoritos h2{
        margin: 5px 0px;
    }
    
    .favoritos-listado {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth; 
        height: 100%;
        width: 85%;
        margin: 0 auto;
        scrollbar-width: thin;
    }
    
    .favorito-item {
        flex: 30%; 
        margin: 40px 5px; 
        min-width: 30%;
        padding: 25px 0px;
        height: 100%;
        border: 1px solid white;
        box-shadow: 1px 1px 5px rgb(255, 255, 255);

    }
  }