
.contenedor-usuario{
    display: flex;
    justify-content: space-between;
    margin: 100px 15px 0px 15px;
    padding: 50px;
    height: 70vh;
    

    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(255, 255, 255);
    background-color: black;
    color: white;
}

.Datos-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    width: 50%;
    border-radius: 5px;
}

.titulo-usuario{
    padding: 15px;
    height: 20%;
}


.info-usuario{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 15px;
    height: 80%;
    width: 95%;
}

.contenedor-compras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.Datos-mis-compras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50%;
    max-height: 50% ;
    width: 95%;
    margin-bottom: 1px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    overflow-x: auto;
    scroll-behavior: smooth; 
    scrollbar-width: thin;

    
}

.titulo-mis-compras{
    width: 100%;
    max-height: 20%;
    text-align: center;
}

.cuadro-carrito {
    width: 100%;
    max-height: 80%;

}

.Datos-mis-favoritos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 50%;
    max-height: 50% ;
    width: 95%;
    padding: 10px;
    border: 1px solid white;
    margin-top: 1px;
    border-radius: 5px;
    
}

.favoritos-listado{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    font-size: x-small;
    align-items: center;

 

    overflow-x: auto;
    scroll-behavior: smooth; 
    scrollbar-width: thin;
}

.favorito-item {
    border: 1px solid white;
    min-width: 25%;
    max-width: 25%;
    padding: 10px 0px;
    margin: 5px;
    text-align: center;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);

    
}

.favorito-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.eliminar-favorito-btn {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0px;
    
  }
  
  .eliminar-favorito-btn:hover {
    background-color: #d93636;
  }
   


@media (max-width: 768px) {
    .contenedor-usuario{
        flex-direction: column;
        width: 100%;
        height: 90vh;
        
    }

    .Datos-usuario{
        width: 100%;
        min-height: 50%;
        max-height: 50%;
        
        
    }
    
    .contenedor-compras{
        width: 100%;
        min-height: 50%;
        max-height: 50%;

    }

    .Datos-mis-compras{
        width: 100%;
    }


    .titulo-mis-compras h2 {
        margin: 0px;
        font-size: medium;
    }

    .Datos-mis-favoritos h2{
        margin-top: 2px;
        font-size: medium;
    }
    .Datos-mis-favoritos {
        width: 100%;
        
    }
    
    .favoritos-listado {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth; 
        scrollbar-width: thin;
        height: 100%;
        width: 100%;
        margin: 0px auto;
        padding: 0px ;
        font-size: x-small;
        
        
    }

    .favoritos-listado h6{
        font-size: small;
        margin: 0px;
        
    }
    
    .favorito-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 30%;
        padding: 2px 1px;
        height: auto;
        border: 1px solid white;
        box-shadow: 1px 1px 5px rgb(255, 255, 255);

    }

    .favorito-item img{
        width: 25%;
        height: 25%;
        object-fit: cover;
        
    }
    .eliminar-favorito-btn {
        margin: 0px;
        
    }
  }
  
  @media (max-width: 500px) {
    .contenedor-usuario{
        flex-direction: column;
        width: 100%;
    }

    .Datos-usuario{
        width: 100%;
    }
    
    .contenedor-compras{
        width: 100%;

    }

    .Datos-mis-favoritos h2{
        margin: 5px 0px;
    }
    
    .favoritos-listado {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth; 
        height: 100%;
        width: 85%;
        margin: 0 auto;
        scrollbar-width: thin;
    }
    
    .favorito-item {
        flex: 30%; 
        margin: 40px 5px; 
        min-width: 30%;
        padding: 25px 0px;
        height: 100%;
        border: 1px solid white;
        box-shadow: 1px 1px 5px rgb(255, 255, 255);

    }
  }